.contactlayout {
    padding: 5px;
    border: 1px solid ;
    margin: 5px;
    background-color: lightyellow;
    color: black;
    cursor: pointer;


}

.basecolor {
    background-color: yellow;
}

.switchcolor {
    background-color: green;
}
input.input {
    background-color: red;
}

.delete-btn{
    text-align: center;
}
    