body{
    background-color: #333;
}
.container{
    padding: 3rem;
}
.accordion-title,
.accordion-body{
    padding: 1 rem;
}

.accordion-title{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #eee;
    transition:  background-color .3s;
    cursor: pointer;

}
.accordion-title button{
    background-color:  transparent;
    border: none;
    font-size: 1.5rem;
}
.accordion-title:hover{
    background-color: #ccc;
}

.accordion-body{
    background-color: white;
    display: none;
}

.accordion-item.active .accordion-body{
    display: block;
}